.calendar {
    display: flex;
    flex-flow: column;
    
}

.calendar .header .month-year {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 20px 0;
}
.calendar .days {
    display: flex;
    flex-flow: wrap;
    
    
}
.form-control{
    width: 10em;
}
.calendar .days .day_name {
    width: calc(100% / 7);
    padding: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: rgb(240, 235, 226);
    background-color: #810047;

}
.calendar .days .day_name:nth-child(7) {
    border: none;
}
.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: calc(100% / 7);
    border: 1px solid rgba(0, 0, 0, 0.164);
    padding: 15px;
    font-weight: bold;
    color: #7c878d;
    cursor: pointer;
    min-height: 100px;
}
.calendar .days .day_num span {
    display: inline-flex;
    width: 30px;
    font-size: 14px;
}
.calendar .days .day_num .event {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: rgba(6, 163, 77, 0.822);
    color: #fff;
    word-wrap: break-word;
}
.calendar .days .day_num .event.green {
    background-color: #51ce57;
}
.calendar .days .day_num .event.blue {
    background-color: #518fce;
}
.calendar .days .day_num .event.red {
    background-color: rgba(221, 199, 5, 0.822);
}

.calendar .days .day_num:hover {
    
    background-color: #02020256;
}
.calendar .days .day_num.ignore {
    background-color: #8181814b;
    color: #ced2d4;
    cursor: inherit;
}
.calendar .days .day_num.selected {
    background-color: rgba(29, 29, 29, 0.445);
    cursor: inherit;
}